/* Default mode variables */
:root {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --card-bg: #f7f7f7;
    --toggle-bg: #ddd;
    --toggle-circle: #fff;
}

/* Dark mode variables */
.dark-mode {
    --bg-color: #333;
    --text-color: #f0f0f0;
    --card-bg: #444;
    --toggle-bg: #555;
    --toggle-circle: #fff;
}


body {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    padding: 40px;
}

main {

    text-align: center;
    padding: 40px;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


/* Toggle styling */
.mode-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
}

#darkModeToggle {
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: var(--toggle-bg);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

#darkModeToggle::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: var(--toggle-circle);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

body.dark-mode #darkModeToggle {
    background-color: var(--toggle-bg);
}

body.dark-mode #darkModeToggle::before {
    transform: translateX(25px);
}
